<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8" />
  <title>Tellcast</title>
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css" />
</head>
<body>
  <main class="container" style="max-width: 600px; margin-top: 4rem;">
    <header>
        <h1>@<%= profile.handle %></h1>
        <p><%= profile.bio %></p>
        <% if (profile.website) { %>
        <p><a href="<%= profile.website %>" target="_blank">Website</a></p>
        <% } %>
        <form action="/user/<%= profile.handle %>/follow" method="post">
        <button type="submit">Follow</button>
        </form>
    </header>

    <section id="tweets">
        <% tweets.forEach(tweet => { %>
        <article>
            <p><%- tweet.text %></p>
            <time class="tweet-date" datetime="<%= tweet.timestamp %>"></time>
        </article>
        <% }) %>
    </section>
  </main>
</body>
</html>
